[submodule "genesis"]
	path = genesis
	url = https://github.com/lczech/genesis.git
[submodule "QuartetScores"]
	path = QuartetScores
	url = https://github.com/algomaus/QuartetScores.git
[submodule "tclap"]
	path = tclap
	url = ./tclap
